


/* Default Nav Bar style tweaks */

.contactUsWrapper i 
	{
	width:20px;
	}

.navbar{ margin-bottom: 20px; }

.navbar-default {
    background-color: #fff !important; 
    border-color: #fff !important; 
	}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
    }


.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 25px 0px 0px;
	}

.nav>li { text-align: left; }

.navbar-nav { margin: 0px 0px; }

.tertiary>li>a {padding-right: 0px;}


.navbar-toggle {
    padding: 5px 5px;
    margin-top: 10px;
	}

#content { margin-top: 20px !important; }


h1 { font-size: 18px; color: #E9187E; text-transform: uppercase; margin-top: 0px; margin-bottom: 20px;}
h4 { font-size: 16px; color: #00A8DE; margin-bottom: 5px; }
h6 { font-size: 12px; color: #ccc; margin-bottom: 5px; }

.btn-default,
.btn-default:active,
.btn-default:visited,
.btn-default:focus 
	{
    background-color: #00A8DE;
    border-color: #00A8DE;
    color: #fff;
	}

.btn-default:hover
	{
    border-color: #E9187E;
    background-color: #E9187E;
    color: #fff;
	}


.navbar-nav>li>a,
.nav>li>a
	{
  	color: black !important;
  	background-color: #ffffff !important;
  	font-size: 1em !important;
  	font-weight: 500;
	}

.shopContainer
	{
	border: 1px solid #ccc;	
	border-radius: 25px;
	margin-right: 10px;
	min-height: 250px;
	padding: 20px;
	text-align: center;
	}

.shopImage
	{
	width: 200px;
	height: 150px;
	}

.shopGrid
	{
	margin-bottom: 25px !important;
	}

.itemPrice 
	{
	font-weight: bold;
	font-size: 14px;	
	color: #666;
	}

.logoLightBlue 	{color: #00A8DE !important;}
.logoDarkBlue 	{color: #333391 !important;}
.logoPurple 	{color: #9C298C !important;}
.logoPink 		{color: #E9187E !important;}
.logoRed 		{color: #EB2C3B !important;}
.logoOrange 	{color: #EF8031 !important;}
.logoYellow 	{color: #FDE92B !important;}
.logoLightGreen {color: #91BE4A !important;}
.logoDarkGreen 	{color: #00A055 !important;}

a.logoLightBlue:hover 	{color: #00A8DE !important;}
a.logoDarkBlue:hover 	{color: #333391 !important;}
a.logoPurple:hover 		{color: #9C298C !important;}
a.logoPink:hover 		{color: #E9187E !important;}
a.logoRed:hover 		{color: #EB2C3B !important;}
a.logoOrange:hover 		{color: #EF8031 !important;}
a.logoYellow:hover 		{color: #FDE92B !important;}
a.logoLightGreen:hover 	{color: #91BE4A !important;}
a.logoDarkGreen:hover 	{color: #00A055 !important;}


.imgRightContainer{float: right; margin: 0px !important; }
.imgLeftContainer{float: left; margin: 0px !important; }

.imgLeftContainer img 
	{
	padding: 10px 10px 10px 0;
	}

.imgRightContainer img
	{
	padding: 10px;
	}



body 
	{
  	font-family: "Helvetica Neue", Arial, sans-serif;
  	min-height: 100%;
  	color: #666;
	}

img 
	{
  	width: 100%;
	}

#header 
	{
    text-align: center;
    margin: 40px 20px 20px 20px;
	}

#content 
	{
    text-align: left;
    margin: 40px 20px 0px 20px;
	}

#footer 
	{
    margin-bottom: 0px;
	}

.debug
	{
	border: 1px solid red;
	}


p a:link,
p a:visited	
	{
	text-decoration: none;
	color: #00A8DE !important;
	}

p a:hover 
	{
	text-decoration: none;
	color: #E9187E !important;
	}


.social
	{
	font-size: 36px;
	height: 68px;
	width: 68px;
	line-height: 68px;
	color: #91BE4A;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	display: block;
	border-radius: 50%;
	}

a.social:hover 
	{
	text-decoration: none;
	color: #00A055;
	}



.stichBorder
	{
	border-style: dashed !important;
	margin: 5px 0 5px 0;
	}

.dinkyLightGreen
	{
	background-color: #91BE4A;
	}
.dinkyDarkGreen
	{
	background-color: #00A055;
	}

.errorText
	{
	color: #E9187E;
	margin: 5px 0 5px 0;
	}

.footerSocial
	{
    padding: 25px 0px 25px 0px;
	}

.footerText
	{
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    text-align: center;
	}

.footerText a
	{
    color: #FFF;
	}